<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alice.dao.VisitorDao">

    <sql id="BASE_TABLE">
        t_visitor
    </sql>

    <sql id="BASE_COLUMN">
        id,name,address,age,phoneNumber,visitorStartTime,visitorEndTime
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        (name,address,age,phoneNumber,visitorStartTime,visitorEndTime)
        VALUES (#{name},#{address},#{age},#{phoneNumber},#{visitorStartTime},#{visitorEndTime})
    </insert>

    <update id="update">

    </update>

    <delete id="deleteVisitor" parameterType="int">
        delete from
        <include refid="BASE_TABLE"/>
        where id = #{id}
    </delete>

    <select id="findByAll" resultType="com.alice.entity.VisitorEntity">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="findByCondition" resultType="com.alice.entity.VisitorEntity">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        where
        <if test="age != null">
            age = #{age, jdbcType=VARCHAR} and
        </if>

        <if test="name != null">
            name like CONCAT ('%',#{name, jdbcType=VARCHAR},'%') and
        </if>

        <if test="address != null">
            address like CONCAT ('%',#{address, jdbcType=VARCHAR},'%') and
        </if>
        1=1
    </select>
</mapper>